*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
    cursor: default;
}   
a{
    cursor: pointer;
}
a:hover{
    color: #ff4d4d;
}

body {
    background: #fff4f4;
    cursor: none;
}

/* START NAV */
.nav {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
}

.nav:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.logo img {
    height: 50px;
    border-radius: 22px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo img:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.links a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.links a:hover {
    color: #ff4d4d;
    cursor: pointer;
    font-weight: 600;
}

.theam-toggle {
    width: 40px;
    height: 40px;
    background: #ffcccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    border: none;
    transition: 0.08s ease-in-out;
}

.theam-toggle:hover {
    transform: scale(1.2);
}

/* END NAV */
/* START HOME */
/* Hear Cards Will Be Spawnded From JS */
.home {
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.home-section {
    max-width: 96%;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
}

/* END HOME */
/* START CARDS */
.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    transition: box-shadow 0.2s ease-in-out;
    width: 300px;
}

.card a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.card a:hover {
    color: #ff4d4d;
}

/* END CARDS */
